<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/INTERFAZgraficas_de_usuarioSwing/src/disposicionesavanzadas/disposicionesdecaja2_muelleFijo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="disposicionesavanzadas.disposicionesdecaja2_muelleFijo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="INTERFAZgraficas_de_usuarioSwing"/>
</launchConfiguration>
