<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/FICHEROS_manejoDeArchivosStreams/src/fichero_y_directorios/eliminar_archivo.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="fichero_y_directorios.eliminar_archivo"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="FICHEROS_manejoDeArchivosStreams"/>
</launchConfiguration>
