<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tarea_de_clase/src/tarea_de_clase/llamadaObjeto.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="tarea_de_clase.llamadaObjeto"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tarea_de_clase"/>
</launchConfiguration>
