<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/COLECCIONES/src/colecion_tipo_map/pruba_map_tipo_hashmap.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="colecion_tipo_map.pruba_map_tipo_hashmap"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="COLECCIONES"/>
</launchConfiguration>
